<%- include('../sections/header.ejs') %>

<%- include('../sections/menu.ejs') %>

<body>

    <h2><%= title %></h2>
    <form action="/usr/<%= customer.Username %>/change-password" method="post">
        <h3>chỉnh sửa thông tin Password: <%= customer.FullName %></h3>
        <input type="hidden" value="<%= customer.FullName %>" name="ProductSlug">
        <div class="form-group">
            <label for="currentPassword">CurrentPassword:</label>
            <input type="text" class="form-control" id="currentPassword" placeholder="Password hien tai" value="******"
                name="currentPassword" required>
        </div>

        <div class="form-group">
            <label for="newPassword">NewPassword:</label>
            <input type="text" class="form-control" id="newPassword" placeholder="Enter Password moi" value="******"
                name="newPassword" required>
        </div>

        <div class="form-group">
            <label for="repeatPassword">RePassword:</label>
            <input type="text" class="form-control" id="repeatPassword" placeholder="nhap lai Password" value="******"
                name="repeatPassword" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</body>

</html>