<link
  href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"
  rel="stylesheet"
/>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Product Card/Page</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/css/profiledetail.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
    crossorigin="anonymous"
  />
</head>

<%- include('../sections/menu.ejs') %>
    <!-- Header container -->
    <% if (customer) { %>
    <div class="container-fluid d-flex align-items-center">
      <div class="row">
        <div class="col-lg-7 col-md-10">
          <h1 class="display-2 text-white">Hello <%= customer.FullName %></h1>
          <p class="text-white mt-0 mb-5">
            This is your profile page. You can see the progress you've made with
            your work and manage your projects or assigned tasks
          </p>
          <a href="#!" class="btn btn-info">Edit profile</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
        <div class="card card-profile shadow">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="#">
                  <img
                    src="<%= customer.Avatar%>"
                    class="rounded-circle"
                  />
                </a>
              </div>
            </div>
          </div>
          <div
            class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4"
          >
            <div class="d-flex justify-content-between">
              <a href="#" class="btn btn-sm btn-info mr-4">Connect</a>
              <a href="#" class="btn btn-sm btn-default float-right">Message</a>
            </div>
          </div>
          <div class="card-body pt-0 pt-md-4">
            <div class="row">
              <div class="col">
                <div
                  class="
                    card-profile-stats
                    d-flex
                    justify-content-center
                    mt-md-5
                  "
                >
                </div>
              </div>
            </div>
            <div class="text-center">
              <h3><%= customer.FullName %></h3>
              <div class="h5 font-weight-300">
                <i class="ni location_pin mr-2"></i><%= customer.City %>, <%= customer.StreetAddress %>
              </div>
              <hr class="my-4" />
              <p>
                About You
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8 order-xl-1">
        <div class="card bg-secondary shadow">
          <div class="card-header bg-white border-0">
            <div class="row align-items-center">
              <div class="col-8">
                <h3 class="mb-0">My account</h3>
              </div>
              <div class="col-4 text-right">
                <a href="#!" class="btn btn-sm btn-primary">Settings</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <form>
              <h6 class="heading-small text-muted mb-4">User information</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <label class="form-control-label" for="input-username"
                        >Username</label
                      >
                      <input
                        type="text"
                        id="input-username"
                        class="form-control form-control-alternative"
                        placeholder="Username"
                        value="<%= customer.FullName %>"
                      />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-email"
                        >Email address</label
                      >
                      <input
                        type="email"
                        id="input-email"
                        class="form-control form-control-alternative"
                        placeholder="<%= customer.Email %>"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <hr class="my-4" />
              <!-- Address -->
              <h6 class="heading-small text-muted mb-4">Contact information</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group focused">
                      <label class="form-control-label" for="input-address"
                        >Address</label
                      >
                      <input
                        id="input-address"
                        class="form-control form-control-alternative"
                        placeholder="Home Address"
                        value="<%= customer.StreetAddress %>"
                        type="text"
                      />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group focused">
                      <label class="form-control-label" for="input-city"
                        >City</label
                      >
                      <input
                        type="text"
                        id="input-city"
                        class="form-control form-control-alternative"
                        placeholder="City"
                        value="<%= customer.City %>"
                      />
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group focused">
                      <label class="form-control-label" for="input-country"
                        >Country</label
                      >
                      <input
                        type="text"
                        id="input-country"
                        class="form-control form-control-alternative"
                        placeholder="Country"
                        value="<%= customer.Country %>"
                      />
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-control-label" for="input-country"
                        >Postal code</label
                      >
                      <input
                        type="number"
                        id="input-postal-code"
                        class="form-control form-control-alternative"
                        placeholder="<%= customer.PostCode %>"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <hr class="my-4" />
              <!-- Description -->
              <h6 class="heading-small text-muted mb-4">About me</h6>
              <div class="pl-lg-4">
                <div class="form-group focused">
                  <label>About Me</label>
                  <textarea
                    rows="4"
                    class="form-control form-control-alternative"
                    placeholder="A few words about you ..."
                  >
A design code</textarea
                  >
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% } %>
