<%- include('../sections/header.ejs') %>
<%- include('../sections/menu.ejs') %>
<table class="styled-table">
    <thead>
        <tr>
            <th>Category ID</th>
            <th>Category Name</th>
            <th>Total Units in Category</th>
            <th>Total Products in Category</th>
        </tr>
    </thead>
    <tbody>
        <% usr.forEach(function(ur){ %>
        <tr class="active-row">
            <td><%= ur.CategoryID %></td>
            <td><%= ur.CategoryName %></td>
            <td><%= ur.TotalUnits %></td>
            <td><%= ur.TotalProducts %></td>
        </tr>
        <% }); %>
    </tbody>
</table>