<%- include('../sections/header.ejs') %>
<%- include('../sections/menu.ejs') %>
<table class="styled-table">
    <thead>
        <tr>
            <th>City</th>
            <th>Total users</th>
            <th>Total revenue</th>
            <th>Total orders</th>
        </tr>
    </thead>
    <tbody>
        <% usr.forEach(function(ur){ %>
        <tr class="active-row">
            <td><%= ur.City %></td>
            <td><%= ur.Toal_users %></td>
            <td><%= ur.Total_revenue %></td>
            <td><%= ur.Total_orders %></td>
        </tr>
        <% }); %>
    </tbody>
</table>