<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--========== BOX ICONS ==========-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

  <!--========== CSS ==========-->
  <link rel="stylesheet" href="/css/menu.css">

  <title>SHOPEE 2.0</title>
</head>

<body>
  <% if (customer) { %>
    <header class="header">
      <div class="header__container">
        <a href="/usr/<%= customer.Username %>" class="nav__link active">
        <img
          src="<%= customer.Avatar %>"
          alt=""
          class="header__img"
        />
      </a>

        <div class="header__search">
          <input type="search" placeholder="Search" class="header__input" />
          <i class="bx bx-search header__icon"></i>
        </div>


        <div class="header__toggle">
          <i class="bx bx-menu" id="header-toggle"></i>
        </div>
      </div>
    </header>

  <!--========== NAV ==========-->
  <div class="nav" id="navbar">
    <nav class="nav__container">
      <div>
        <a href="#" class="nav__link nav__logo">
          <i class='bx bxs-disc nav__icon'></i>
          <span class="nav__logo-name">You are ADMIN: <%= customer.FullName %></span>
        </a>

        <div class="nav__list">
          <div class="nav__items">
            <h3 class="nav__subtitle">Profile</h3>

            <a href="/" class="nav__link active">
              <i class='bx bx-home nav__icon'></i>
              <span class="nav__name">Home</span>
            </a>

            <div class="nav__dropdown">
              <a href="#" class="nav__link">
                <i class='bx bx-user nav__icon'></i>
                <span class="nav__name">Profile</span>
                <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
              </a>

              <div class="nav__dropdown-collapse">
                <div class="nav__dropdown-content">
                  <a href="/usr/<%= customer.Username %>" class="nav__dropdown-item">Passwords</a>
                  <a href="/usr/<%= customer.Username %>" class="nav__dropdown-item">Mail</a>
                  <a href="/sign-in" class="nav__dropdown-item">Login</a>
                </div>
              </div>
            </div>
          </div>

          <div class="nav__items">
            <h3 class="nav__subtitle">Menu</h3>

            <div class="nav__dropdown">
              <a href="#" class="nav__link">
                <i class='bx bxs-report' ></i>
                <span class="nav__name">Report</span>
                <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
              </a>

              <div class="nav__dropdown-collapse">
                <div class="nav__dropdown-content">
                  <a href="/admin/report/Product1000" class="nav__dropdown-item">Product1000</a>
                  <a href="/admin/report/UsersFromCity" class="nav__dropdown-item">Users From City</a>
                  <a href="/admin/report/RevenueByProducts" class="nav__dropdown-item">Revenue By Products</a>
                  <a href="/admin/report/ReOrByUsers" class="nav__dropdown-item">Revenue by User</a>

                  <a href="/admin/report/ReOrByCats" class="nav__dropdown-item">Revenue By Category</a>

                  <a href="/admin/report/ReOrByRegions" class="nav__dropdown-item">Revenue by Regions</a>

                  <a href="/admin/report/Productinfo" class="nav__dropdown-item">Product Infor</a>

                  <a href="/admin/report/Userinfo" class="nav__dropdown-item">User Infor</a>

                  <a href="/admin/report/ReProductByCate" class="nav__dropdown-item">Products by Category</a>

                  <a href="/admin/report/ReTop10Order" class="nav__dropdown-item">Top 10 Orders by Values</a>
                </div>
              </div>
            </div>

            <div class="nav__dropdown">
              <a href="#" class="nav__link">
                <i class='bx bxs-bar-chart-alt-2'></i>
                <span class="nav__name">Chart</span>
                <i class='bx bx-chevron-down nav__icon nav__dropdown-icon'></i>
              </a>

              <div class="nav__dropdown-collapse">
                <div class="nav__dropdown-content">
                  <a href="/admin/chart" class="nav__dropdown-item">User spend</a>

                  <a href="/admin/Orderschart" class="nav__dropdown-item">Orders Chart</a>

                  <a href="/admin/sales" class="nav__dropdown-item">Sales Chart</a>

                  <a href="/admin/UnitInStock" class="nav__dropdown-item">UnitInStock Chart</a>

                  <a href="/admin/TrendingProChart" class="nav__dropdown-item">Trending Products Chart</a>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>

      <a href="/sign-out" class="nav__link nav__logout">
        <i class='bx bx-log-out nav__icon'></i>
        <span class="nav__name">Log Out</span>
      </a>
    </nav>
  </div>
  <% } %>

  <script src="/js/menu.js"></script>
</body>

</html>